{
  email {$ACME_EMAIL}
}

{$DOMAIN_GRID} {
  reverse_proxy grid:80
}

files.skyserver.online {
  basicauth {
    bjoern $2a$14$2owwTRJfd5I/FUHSHoIdOuhSKzwEwVta3IyZVPjGHd3mxKPRn2ji6   # Platzhalter (siehe unten)
  }
  reverse_proxy filebrowser:80
}

